body{
    background-color: rgb(36, 33, 33);
    color: gray;
}

#data{
    width: 300px;
}

#loan{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 20px;
}

button{
    background-color: cornflowerblue;
    width: 80px;
    margin-top: 15px;
}